{% extends 'TBCABackendBundle:Admin:base.html.twig' %}
{% block title %}
	{{ parent() }}Adicionar Alimento
{% endblock %}
{% block header %}
	{{ parent() }}{% include 'TBCABackendBundle:Admin:menu.html.twig' %}
{% endblock %}
{% block content %}
  {% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning" role="alert">
      <i class="glyphicon glyphicon-warning-sign"></i><span>{{ flash_message }}</span>
    </div>
  {% endfor %}
  <form class="" method="post">
  	<h2><input type="text" name="nome" value="Nome do alimento"></input></h2>
		<div class="itens clearfix">
			<div class="row">
				{% for nutriente in nutrientes %}
					<div class="item col-md-3">
						<h3>{{ nutriente.nome }} ({{ nutriente.unidade }})</h3>
						<input type="text" name="{% if nutriente.nome == "Energia" %}{{ nutriente.nome }}{{ nutriente.unidade }}{% else %}{{ nutriente.nome }}{% endif %}" value="0" />
					</div>
				{% endfor %}
			</div>
		</div>
		<button type="submit" class="btn btn-lg btn-default btn-alterar">Adicionar</button>
	</form>
{% endblock %}
