<ul class="nav nav-pills nav-stacked">
	<li><a href="{{ path('admin', {'page': 'list'}) }}">Home</a></li>
	<li><a href="{{ path('admin', {'page': 'list'}) }}">Alimentos</a></li>
	<li><a href="{{ path('admin', {'page': 'categories'}) }}">Categorias</a></li>
	<li><a href="{{ path('admin', {'page': 'staging'}) }}">A Aprovar</a></li>
	<!--usuarios-->
	<li><a href="{{ path('admin', {'page': 'logout'}) }}">Sair</a></li>
</ul>
